.costs{
	background-color:#ffffaa;
}
.outputs{
	background-color:#aaffaa;
}
.errors{
	background-color:#ffaaaa;
	color:red;
}
input[type="number"]{
	width:40px;
}
.section{
	border: 5px solid black;
}