.costs{
	background-color:#ffffaa;
}
.outputs{
	background-color:#aaffaa;
}
.errors{
	background-color:#ffaaaa;
	color:red;
}
.warnings{
	background-color:#ffffaa;
	color:brown;
}
input[type="number"]{
	width:40px;
}
.section{
	border: 5px solid black;
}
.playerStats{
	display:inline-block;
}
.invention{
	display:inline-block;
}
.inline{
	display:inline-block;
}
.card{
	display:inline-block;
	border: 3px solid green;
	margin: 5px;
	padding: 5px;
}